*{
    margin:0;
}

.home{
    display: flex;
    background-color: #faf3ee;
}
.sidebarDiv{
    display: flex;
    flex:2;
    height:100%;
    width: 300px;
}

.boxes{
    display: flex;
    flex-direction: row;
    flex:10
}


.footbarDiv{
    display: flex;
    flex-direction: column;
    
}