*{
    margin:0;
}

.home{
    display: flex;
}
.sidebarDiv{
    display: flex;
    flex:2;
    height:100%;
    width: 300px;
}

.boxes{
  margin: 250px 20px 0px 100px;
}

@media only screen and (max-width: 720px) {
    .boxes{
        margin: 60px 20px 0px 100px;
    }
  }





.footbarDiv{
    display: flex;
    flex-direction: column;
    flex:10;
    
}